/* Table.css */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 16px;
    background-color: #f0f2f5;
  }
  
  .custom-table {
    width: 70%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-table th {
    background-color: #007bff;
    color: white;
    padding: 14px;
    text-transform: uppercase;
    border: 1px solid black;
  }
  
  .custom-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid black;
  }
  
  .custom-table tbody tr:hover {
    background-color: #f1f9ff;
  }
  
  .custom-table thead tr {
    border-bottom: 2px solid #0056b3;
  }
  
  .custom-table tbody tr:last-child td {
    border-bottom: none;
  }

  .custom-table caption {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    caption-side: top;
    text-align: center;
    color: #333;
    padding: 10px;
    background-color: #e3e3e3;
    border-radius: 8px 8px 0 0;
  }
  
  @media (max-width: 768px) {
    .custom-table {
      width: 90%;
    }
  }
  